body {
  margin: 0 auto;
  background-color: #131313;
}

.dragons:hover{
  color: green;
  transition: all .3s;
}

.cancel:hover{
  color: #5555ff;
  transition: all .3s;
}

.del:hover{
  color: #990000;
  transition: all .3s;
}