body {
  margin: 0 auto;
  background-color: #131313;
}


.Toastify__toast--success {
  color: #131313 !important;
}
.Toastify__toast--info {
  width: 300px;
  color: #131313 !important;
}
.Toastify__toast--error {
  color: #131313 !important;
  width: 350px;
}

.Toastify__progress-bar--success {
  background: #006600 !important;
}
.Toastify__progress-bar--error {
  background: #990000 !important;
}
.Toastify__progress-bar--info {
  background: #5555ff !important;
}

.ReactModal__Overlay{
  opacity: 0;
  transform: translateY(-100px);
  transition: all .5s;
  z-index: 99;
}
.ReactModal__Overlay--after-open{
  opacity: 1;
  transform: translatey(0px);
}
.ReactModal__Overlay--before-close{
  opacity: 0;
  transform: translateY(-100px);
}
.ReactModal__Body--open {
  overflow: hidden;
}