body {
  margin: 0 auto;
  background-color: #131313;
}

.edit-btn:hover{
  color: green;
  transition: all .3s;
}

.cancel-btn:hover{
  color: #5555ff;
  transition: all .3s;
}

.del-btn:hover{
  color: #990000;
  transition: all .3s;
}

.Toastify__toast--success {
  color: #131313 !important;
}

.Toastify__toast--info {
  color: #131313 !important;
}

.Toastify__toast--error {
  color: #131313 !important;
  width: 350px;
}

.Toastify__progress-bar--success {
  background: #006600 !important;
}

.Toastify__progress-bar--error {
  background: #990000 !important;
}

.Toastify__progress-bar--info {
  background: #5555ff !important;
}